<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>List Of All Apps Which Are Currently Supported</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Music</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/MusicSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Spotify</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/SpotifySub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Instagram</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/InstagramSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>TikTok</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/TikTokSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Twitter</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/TwitterSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Safari</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/SafariSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Phone</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/PhoneSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Facebook</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/FacebookSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Calculator</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/CalculatorSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Sileo</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApplicationSubMenus/SileoSub</string>
 		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>