Package: me.shymemoriees.rose
Name: Rose
Depends: mobilesubstrate, ws.hbang.common
Architecture: iphoneos-arm
Description: Getting peeped by a Rose doesn't feel that good, Rosé changes that.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks
Version: 2.2
Installed-Size: 676
