Package: me.shymemoriees.rose
Name: Rose
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Architecture: iphoneos-arm
Description: Getting peeped by a Rose doesn't feel that good, Rosé changes that.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks
Version: 2.2.1-142+debug
Installed-Size: 756
