<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Haptic Feedback When...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>PHNumberPad</string>
			<key>label</key>
			<string>Tapping Dialer Number Pad Button</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>PHContactCell</string>
			<key>label</key>
			<string>Tapping A Contact Cell</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>PHDialerDeleteButton</string>
			<key>label</key>
			<string>Tapping Dialer Delete Button</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.shymemoriees.rosepreferences</string>
			<key>key</key>
			<string>PHDialerCallButton</string>
			<key>label</key>
			<string>Tapping Dialer Call Button</string>
			<key>PostNotification</key>
			<string>me.shymemoriees.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>