<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>Litten</string>
			<key>firstAccount</key>
			<string>Litteeen</string>
			<key>secondLabel</key>
			<string>taki</string>
			<key>secondAccount</key>
			<string>74k1_</string>
			<key>height</key>
			<real>57</real>
		</dict>
		
				<!-- Taptic Engine Strength -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TAPTIC_ENGINE_STRENGTH</string>
			<key>footerText</key>
			<string>IPHONE_7_OR_7PLUS_AND_UP</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>enableTapticEngine</string>
			<key>label</key>
			<string>USE_TAPTIC_ENGINE</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>TapticStrength</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>MEDIUM</string>
				<string>HEAVY</string>
				<string>SOFT</string>
				<string>RIGID</string>
			</array>
			<key>alignment</key>
			<string>5</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

						<!-- Haptic Engine Strength -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_ENGINE_STRENGTH</string>
			<key>footerText</key>
			<string>IPHONE_6S_OR_6SPLUS</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>enableHapticEngine</string>
			<key>label</key>
			<string>USE_HAPTIC_ENGINE</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>HapticStrength</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>MEDIUM</string>
				<string>STRONG</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

						<!-- Legacy Support -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LEGACY_SUPPORT</string>
			<key>footerText</key>
			<string>IPHONE_SE_OR_6_AND_SO_FAR</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>enableLegacyEngine</string>
			<key>label</key>
			<string>USE_LEGACY_ENGINE</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>LegacyStrength</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>CUSTOM</string>
			</array>
			<key>alignment</key>
			<string>2</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>CUSTOM_LEGACY_SETTINGS</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>LegacyCustomSettings</string>
 		</dict>

				<!-- Sub Menus -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_OPTIONS</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>HOMESCREEN</string>
			<key>icon</key>
			<string>hscng.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>HomescreenSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>LOCKSCREEN</string>
			<key>icon</key>
			<string>lscng.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>LockscreenSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>ANYWHERE</string>
			<key>icon</key>
			<string>aywg.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>AnywhereSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>HARDWARE_BUTTONS</string>
			<key>icon</key>
			<string>hwbtg.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>HardwareButtonsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>CONTROL_CENTER</string>
			<key>icon</key>
			<string>ccg.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>ControlCenterSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>STATUS_CHANGES</string>
			<key>icon</key>
			<string>scng.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>StatusChangesSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>OTHER_HARDWARE_ACTIONS</string>
			<key>icon</key>
			<string>ohag.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>OtherHardwareActionsSub</string>
 		</dict>
		 <dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>SYSTEM_WIDE</string>
			<key>icon</key>
			<string>sywg.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>SystemWideSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>APPLICATIONS</string>
			<key>icon</key>
			<string>apng.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>ApplicationsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>EXCEPTIONS</string>
			<key>icon</key>
			<string>ecng.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>ExceptionsSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>ADDITIONALS</string>
			<key>icon</key>
			<string>atlng.png</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>AdditionalsSub</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_DELAY_IN_SECONDS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>enableHapticDelay</string>
			<key>label</key>
			<string>ENABLE_DELAY</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>Delay</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>10</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OTHER_OPTIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
			<key>action</key>
			<string>respringWithButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_PREFERENCES</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SHOW_SETUP_AGAIN</string>
			<key>action</key>
			<string>presentIntroductionViewController</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SENDING_LOVE_TO</string>
			<key>footerText</key>
			<string>THANKS_KRITANTA_FOR_THE_PRETTY_TWITTER_CELLS</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Esquilli</string>
			<key>accountName</key>
			<string>EsquilliDev</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>iKilledAppl3</string>
			<key>accountName</key>
			<string>iKilledAppl3</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>ArtikusHG</string>
			<key>accountName</key>
			<string>artikushg</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Mirac</string>
			<key>accountName</key>
			<string>thatmirac</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Kritanta</string>
			<key>accountName</key>
			<string>_kritanta</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Tom T.</string>
			<key>accountName</key>
			<string>tomt000</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>MTAC</string>
			<key>accountName</key>
			<string>MTAC8</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTRIBUTORS_CREDITS</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>CONTRIBUTORS</string>
 			<key>detail</key>
 			<string>RSESubPrefsListController</string>
 			<key>RSESub</key>
 			<string>contributorsSub</string>
 		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>HELP_TRANSLATING_ROSE</string>
			<key>url</key>
			<string>https://github.com/Litteeen/RoseLocalizations</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GIVE_THESE_A_LOOK</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lune</string>
			<key>subtitle</key>
			<string>LUNE_DESCRIPTION</string>
			<key>icon</key>
			<string>Lune.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/lne/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Aestea</string>
			<key>subtitle</key>
			<string>AESTEA_DESCRIPTION</string>
			<key>icon</key>
			<string>Aestea.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/aes/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Butterfly</string>
			<key>subtitle</key>
			<string>BUTTERFLY_DESCRIPTION</string>
			<key>icon</key>
			<string>Butterfly.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/bty/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUPPORT_ME</string>
			<key>footerText</key>
			<string>ROSE_BY_LITTEN_
ARTWORKS_BY_TAKI</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>LITTLE_DONATION_🌺</string>
			<key>subtitle</key>
			<string>APPRECIATED_💘</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>FEATURE_REQUEST?_✨</string>
			<key>subtitle</key>
			<string>SEND_ME_AN_EMAIL_WITH_YOUR_REQUEST</string>
			<key>url</key>
			<string>https://litten.love/report.html</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SOURCE_CODE_🌙</string>
			<key>subtitle</key>
			<string>ITS_ON_MY_GITHUB</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Rose</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>FOUND_A_BUG?_🌧</string>
			<key>subtitle</key>
			<string>LEAVE_A_BUG_REPORT_HERE</string>
			<key>url</key>
			<string>https://litten.love/report.html</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>MADE_WITH_💙</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>ROSE</string>
</dict>
</plist>
